.gold { color: gold; }
.silver {color: silver;}
.bronze{color: tan;}
#thisone { color: white   ;  }
 img {width: 50%; height:50%; border:  5px solid; margin: 10px;  }
	 h1 {color: white; font-family: times; }
	 h2 {color: white; font-size: 2em;}
	 h4 { font-weight: bold; background: white; border: 5px solid; display: inline-block; vertical-align: top;}
	 body {background-image: 
	 	url(http://wallpapercave.com/wp/ItmVuT6.jpg); 
	 
	 	background-attachment: fixed ;background-repeat: no-repeat, ; max-width: 100% ; background-position: 0% 0%  ; background-size: 100% 100%; text-align: center; }   
p { margin: 10px ; padding: 10px ;  color: white; font-family: helvetica;}
a {  border: 3px white solid; color: red; display: inline; margin: 30px; }
ul { color: white; margin:20px;    display: inline-block; text-align: center; padding: 20px; border: 5px solid black;  }
table {background: white; margin: 20px; margin-left: auto; margin-right: auto;  }

@media screen and (max-width: 768px) {
  body {
    font-size: 2em;
  }
  
}

a:visited {
    color: pink;
}

a:hover {
    color: green;
}
