<div class="box container" id="greeting">
<h2> Make new friends, share your activities! See where they are at on the map! And more! </h2>
<br>
<h2>  Click the register button to sign up for this fantastic service. If you already have an account just click the login buttion. 
</div>