<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hayden Langelier's Portfolio</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	
</head>
<body>
<h1> Here are a few of my favorite things!</h1>
<ol>
<li>
<h2> Playstation 4</h2>
<img src="http://i.imgur.com/cLBAtUa.png" alt = "picture of a PS4">
<p>Currently, my PS4 is my platform of choice. I had an Xbox One before but i was dissapointed so i sold it. I'm looking forward to many of the upcoming games and maybe even a PS4K. </p>
<h4> Here are list of some of my favorite PS4 games, color coded Gold, silver, and bronze based on how much i liked each </h4>
<ul>
	 <li class="silver"> Metal Gear Solid 5</li>
	 <li class="silver">  Arkham Knight</li>
	 <li class="gold"> Bloodborne</li>
	 <li class="gold"> Grand Theft Auto 5</li>
	 <li class="silver"> Diablo 3</li>
	 <li class="silver"> Black Ops 3</li>
	 <li class="silver"> Fallout 3</li>
	 <li class="bronze"> Resogun</li>
	 <li class="bronze">  The Witness</li>
	 <li class="bronze"> The Last of Us</li>
	 <li class="bronze"> Shovel Knight</li>
	 <li class="silver"> Fez</li>
	 <li class="silver"> Steamworld Dig</li>
	 <li class="silver"> Game of Thrones-Telltale</li>
	 <li class="bronze"> and.... several other indie games i can't recall</li>
</ul>
<a href="http://i.imgur.com/6KzRkvT.jpg"> Praise the Sun!!! </a>	
</li>	

<li><h2> PC gaming</h2>
<img src="http://i.imgur.com/ZP7PRn9.jpg?1" alt = "picture of a PC">
<p> I haven't been playing my PC much recently. But I'm sure i will get back into later in the year. My GPU kinda crapped out so i don't use my dekstop much at all. But perhaps once i get a new GPU things will change</p>

<a href="http://i.imgur.com/DHouo5y.png"> Here's a link to What I'm looking forward to the most on PC </a> </li>
<li>

<h2> Iphone 6 </h2>
<img src="http://cdn2.macworld.co.uk/cmsdata/reviews/3534761/iPhone_6_MG_1953.jpg"  alt = "picture of a Iphone">
<p> I spent alot of time on my phone. I mean alot.... I am one of the lucky few to have unlimited data and my avg data use is about 38 GB a month. I also made the mistake of getting the 16 GB model, that's not happening next time.  My favorite game is Hearthstone. They aren't many good mobile games TBH.</p>

<a href="http://www.fhm.com/media/2015/07/iPhone-7-concept-970-80.jpg"> Here's a link to what I'm looking forward to the most </a>
</li>
<li>
<h2> Nintendo Wii </h2>
<img src="http://static.trustedreviews.com/94/dfc08c/c83d/3849-1.jpg"  alt = "picture of a Wii">
<p> Goold old nintendo, well not so much recently. But let's hope the next console is better. The Wii had some awkward controls but several great games</p>
<h4>Some of my favorite Wii games</h4>
<ul>
	 <li> Super Smash Bros</li>
	 <li> Mario Galaxy</li>
	 <li> Mario Galaxy 2</li>
	 <li> Mario Kart</li>
	 <li> Donkey Kong Country</li>
</ul>	 

<a href="http://gamerant.com/nintendo-nx-rumors-100/">Here's a link to the future of Nintendo</a>
</li>	
</ol>
<h2> A Table of my favorite games on each console</h2>
<table border=3>
	<tr>
	<th>Console</th>
	<th>Favorite Game</th>	
	</tr>
	<tr>
	<td>NES</td>
	<td> Zelda</td>	
	</tr>
	<tr>
	<td>Super Nintendo</td>
	<td>Super Mario World</td>	
	</tr>
	<tr>
	<td>Nintendo 64</td>
	<td> Zelda Ocarina Of Time</td>	
	</tr>
	<tr>
	<td> Gameboy</td>
	<td> Pokemon Blue</td>	
	</tr>
	<tr>
	<td> Xbox</td>
	<td> Halo 2</td>	
	</tr>
	<tr>
	<td>Xbox 360</td>
	<td> Halo 3</td>	
	</tr>
	<tr>
	<td>PC</td>
	<td> Morrowind</td>	
	</tr>
	<tr>
	<td>PS4</td>
	<td>Bloodborne</td>	
	</tr>
	
</table>
<h2 > Here's my take on my site and <a id="thisone"  href="http://www.ign.com/">IGN.com</a></h2>
<p> IGN.com is way more sophisticated than my site. It doesn't even take inspecting their source code to know there is alot more going on. Tons of tabs, links, pictures, etc. They also have video/ads baked into their website. I recognize probably half of the HTML elements, along with alot of of other code that very vaguely makes sense. Overall it is a great site, but its the homepage for a mini media empire so i would expect it is well developed. Theres lots of meta and scripting tags. and plenty of div tag with their subsequent classes and ids. Im sure we will utlize those quite a bit moving forward. They allow more customization of simliar elements within a webpage. </p>
</body>
<footer><a href="moreinfo.html">Click here to learn more about me!</a></footer>
</html>